#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 10%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column

}


.header {
  width: 100vh;
  height: 100vh;

 
}

.header img {
  width: 100%;
  height: 50%;
}

.about{
  width: 100%;
  height: 100vh;

  display: inline-flex;
  flex-direction: line;
  justify-content: center;
  gap: 15%;
  align-items: center;
  text-align: justify;
  /* background-color: aqua; */
}

.about-text{
  width: 65vh;


  font-size: 20px;

}


.about-photo{
  width: 30vh;
  text-align: center;
  
}

.about-photo img{
  width: 30vh;
  height: 30vh;

  border-radius: 50%;
}






